body {
    background-color: aqua;
}
section {
    border-style: solid;
    border-color: blueviolet;
    padding: 1em;
    width: 50%;
    }
#red-text {
    color: red;
}
#green-text{
    color: green;
}
#pink-text{
    color: deeppink;
}
#yellow-text{
    color: yellow;
}
section.a{
    text-align: center;
}
section.b{
    text-align: right;
}